@import '../../scss/vars';

.button {
  width: 100%;
  background-color: $acsent;
  border: 1.5px solid $acsent;
  border-radius: 100px;
  transition: all 0.5s;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  color: #2b2b2d;
  padding: 16px 11px;
  text-transform: uppercase;

  &:active {
    transform: scale(0.9);
  }
}

.disabled {
  opacity: 90%;
  pointer-events: none;
}
